body,
.visualization-container {
    background-color: #191919;
}

h3 {
    color: #42b983;
}

a {
    color: #42b983;
}

svg {
    circle {
        fill: white;
        stroke: black;
    }

    .axis {
        stroke: white;
        stroke-dasharray: 4 4;
        stroke-width: 0.5;
    }

    path {
        stroke: red; 
        fill: none;
    }

    .is-end {
        fill: url(#end-grad);
        transform: translate(-50%, 0)
    }

    .is-beginning {
        fill: url(#begin-grad);
    }

    .finite {
        stroke: rgba(255, 255, 255, 0.438);
        stroke-width: 2;
    }
}