h3 {
    color: #42b983;
}

a {
    color: #42b983;
}

.visualization-container {
    background-color: none;
    border: 1px solid black;
}


svg {
    circle {
        fill: white;
        stroke: black;
    }

    path {
        stroke: red; 
        fill: none;
    }

    .is-end {
        fill: url(#end-grad);
        transform: translate(-100%, 0)
    }

    .is-beginning {
        fill: url(#begin-grad);
    }

    .finite {
        stroke: rgb(128, 128, 128);
        stroke-width: 2;
    }
}