h3 {
    color: #42b983;
}

a {
    color: #42b983;
}

.visualization-container {
    background-color: none;
    border: 1px solid black;
}


svg {
    circle {
        fill: white;
        stroke: black;
    }
}