$pure-white: white;
$default--gray: #C4C4C4;
$dark--gray: #2c3e50;

#app, body, svg {
    color: #2c3e50;
}

body,
.visualization-container {
    background-color: #C4C4C4;
    // background-opacity: 0.9;
    background: 
        linear-gradient(185deg, #c4c4c4c4 40%, #c4c4c400 100%),
        // linear-gradient(127deg, rgba(0, 255, 0, .8) 40%, rgba(0, 255, 0, 0) 70.71%),
        // linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);

}

svg {
    text {
        fill: #2c3e50;
    }

    .entity-marker {
        fill: $pure-white;
        stroke: $default--primary;
        stroke-width: 1;
        transition: all 0.4s;
    }

    .label-visible {
        opacity: 1;
    }

    .label-hidden {
        opacity: 0
    }

    .entity-selected {
        fill: transparent;
        stroke: $pure-white;
    }

    .disabled-on-compress {
        pointer-events: none;
    }

    .limited-visibility, .disabled-on-compress {
        circle {
        fill: #C4C4C4;
        stroke: rgb(117, 117, 117) !important;
        stroke-dasharray: none;
        }

        .marker-halo {
            opacity: 0;
        }

        .marker-stroke {
            fill: #C4C4C4;
            stroke-width: 0.5;
        }
    }

    .marker-density {

        .marker-halo {
            fill: url(#radial-blurriness);
        }

        .marker-stroke {
            fill: $pure-white;
        }
    }

    .blurry-2 {
        fill: url(#radial-blurriness);
        filter: url(#blur) drop-shadow(0 0 0.1rem $default--primary);
    }

    .blurry-4 {
        fill: url(#radial-blurriness);
        filter: url(#blur) drop-shadow(0 0 0.5rem $default--primary);
    }

    .blurry-6 {
        fill: url(#radial-blurriness);
        filter: url(#blur) drop-shadow(0 0 0.75rem $default--primary);
    }

    .blurry-8 {
        fill: url(#radial-blurriness);
        filter: url(#blur) drop-shadow(0 0 1rem $default--primary);
    }

    .marker-event {
        foreignObject {
            z-index: 0;

            p {
                text-shadow: -1px 0 rgba(255, 255, 255, 0.3),
                0 1px rgba(255, 255, 255, 0.3),
                1px 0 rgba(255, 255, 255, 0.3),
                0 -1px rgba(255, 255, 255, 0.3);
            }
        }

        .limited-visibility {
            span#label, span#date {
                font-size: 0px;
                opacity: 0;
            }
        }
        
    }

    .axis {
        stroke: #2c3e50;
        stroke-opacity: 0.5;
        stroke-dasharray: 5 2;
        stroke-width: 0.5;
    }

    path.signature {
        fill: none;
    }

    path.link {
        transition: all 0.5s;
        fill: none;
        stroke-width: 1.5;
        mix-blend-mode: multiply;
    }

    .is-end {
        fill: url(#end-grad);
    }

    .is-beginning {
        fill: url(#begin-grad);
    }

    .finite {
        stroke: #9e9da8;
        stroke-width: 2;
    }

    .limited-visibility {

        g {
            .finite {
                stroke: #9e9da8;
            }

            .is-beginning, .is-end {
                opacity: 0.9;
            }
        }
    }

    .individual-links {
        .not-selected {
            path {
                stroke: #acacac !important;
                opacity: 0.6;
                mix-blend-mode: luminosity;
            }
        }

        g {
            .precedes {
                stroke: $default--secondary;
            }

            .follows {
                stroke: $default--primary;
            }

            .concurs {
                stroke: $default--tertiary;
                stroke-opacity: 0.7;
            }

            .paintbox.precedes {
                stroke: rgb(223, 115, 115);
            }

            .paintbox.follows {
                stroke: rgb(167, 65, 65);
            }
        }
    }
}

.legend-container {
    background-color: #c4c4c4;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(59, 59, 59, 0.2);

    svg {

        .x-axis, .y-axis {
            text {
                -moz-osx-font-smoothing: grayscale;
                fill: #2c3e50;
                text-shadow: -1px 0 rgba(255, 255, 255, 0.3),
                0 1px rgba(255, 255, 255, 0.3),
                1px 0 rgba(255, 255, 255, 0.3),
                0 -1px rgba(255, 255, 255, 0.3);
            }
        }

        circle {
            stroke: $default--primary;
            fill: $pure-white;
        }

        .is-end {
            fill: url(#end-legend);
        }

        .is-beginning {
            fill: url(#begin-legend);
        }

        .finite {
            stroke: #9e9da8;
            stroke-width: 2;
        }
    }
}

// Essay specific css
svg#nuclear-anthropocene {
    .entity-marker {
        stroke: $nuclear-anthropocene--primary;
    }

    .precedes {
        stroke: $nuclear-anthropocene--secondary;
    }

    .follows {
        stroke: $nuclear-anthropocene--primary;
    }

    .blurry-2 {
        filter: url(#blur) drop-shadow(0 0 0.1rem $nuclear-anthropocene--primary);
    }

    .blurry-4 {
        filter: url(#blur) drop-shadow(0 0 0.5rem $nuclear-anthropocene--primary);
    }

    .blurry-6 {
        filter: url(#blur) drop-shadow(0 0 0.75rem $nuclear-anthropocene--primary);
    }

    .blurry-8 {
        filter: url(#blur) drop-shadow(0 0 1rem $nuclear-anthropocene--primary);
    }
}

svg#biotic-change {
    .entity-marker {
        stroke: $biotic-change--primary;
    }

    .precedes {
        stroke: $biotic-change--secondary;
    }

    .follows {
        stroke: $biotic-change--primary;
    }

    .blurry-2 {
        filter: url(#blur) drop-shadow(0 0 0.1rem $biotic-change--primary);
    }

    .blurry-4 {
        filter: url(#blur) drop-shadow(0 0 0.5rem $biotic-change--primary);
    }

    .blurry-6 {
        filter: url(#blur) drop-shadow(0 0 0.75rem $biotic-change--primary);
    }

    .blurry-8 {
        filter: url(#blur) drop-shadow(0 0 1rem $biotic-change--primary);
    }
}

svg#abgc-cycles {
    .entity-marker {
        stroke: $abgc-cycles--primary;
    }

    .precedes {
        stroke: $abgc-cycles--secondary;
    }

    .follows {
        stroke: $abgc-cycles--primary;
    }

    .blurry-2 {
        filter: url(#blur) drop-shadow(0 0 0.1rem $abgc-cycles--primary);
    }

    .blurry-4 {
        filter: url(#blur) drop-shadow(0 0 0.5rem $abgc-cycles--primary);
    }

    .blurry-6 {
        filter: url(#blur) drop-shadow(0 0 0.75rem $abgc-cycles--primary);
    }

    .blurry-8 {
        filter: url(#blur) drop-shadow(0 0 1rem $abgc-cycles--primary);
    }
}

