body,
.visualization-container {
    background-color: #C4C4C4;
}

h3 {
    color: #42b983;
}

a {
    color: #42b983;
}

svg {
    .entity-marker {
        fill: black;
        // stroke: black;
        transition: all 0.2s;
    }

    .marker-density {

        .marker-halo {
            fill: rgb(78, 86, 94);
            stroke: none;
            fill-opacity: 0.5;
            filter: url(#f1);
        }

        .marker-stroke {
            fill: rgb(78, 86, 94);
            stroke-width: 0.5;
            //fill: none;
        }
    }

    text {
        fill: black;
    }

    .axis {
        stroke: rgba(0, 0, 0, 0.5);
        stroke-dasharray: 5 2;
        stroke-width: 0.5;
    }

    path.signature {
        // stroke: red; 
        fill: none;
    }

    path.link {
        //stroke: goldenrod;
        fill: none;
    }

    .is-end {
        fill: url(#end-grad);
        transform: translate(-74%, 0)
    }

    .is-beginning {
        fill: url(#begin-grad);
    }

    .finite {
        stroke: rgba(78, 86, 94, 0.5);
        stroke-width: 2;
    }
}