#app, body, svg {
    color: #2c3e50;
}

body,
.visualization-container {
    background-color: #C4C4C4;
}

svg {

    text {
        fill: #2c3e50;
    }
    .entity-marker {
        fill: #e0e0e0;
        stroke: rgb(120, 115, 243);
        stroke-width: 0.5;
        transition: all 0.4s;
    }

    .label-visible {
        opacity: 1;
    }

    .label-hidden {
        opacity: 0
    }

    .entity-selected {
        fill: transparent;
        stroke: #e0e0e0;
    }

    .disabled-on-compress {
        pointer-events: none;
    }

    .limited-visibility, .disabled-on-compress {
        circle {
        fill: #C4C4C4;
        stroke: rgb(117, 117, 117);
        stroke-dasharray: none;
        }

        .marker-halo {
            opacity: 0;
        }

        .marker-stroke {
            fill: #C4C4C4;
            stroke-width: 0.5;
        }
    }

    .marker-density {

        .marker-halo {
            fill: url(#radial-blurriness);
        }

        .marker-stroke {
            fill: #e0e0e0;
        }
    }

    .blurry-2 {
        fill: url(#radial-blurriness);
        filter: url(#blur) drop-shadow(0 0 0.1rem #8482FF);
    }

    .blurry-4 {
        fill: url(#radial-blurriness);
        filter: url(#blur) drop-shadow(0 0 0.5rem #8482FF);
    }

    .blurry-6 {
        fill: url(#radial-blurriness);
        filter: url(#blur) drop-shadow(0 0 0.75rem #8482FF);
    }

    .blurry-8 {
        fill: url(#radial-blurriness);
        filter: url(#blur) drop-shadow(0 0 1rem #8482FF);
    }

    .marker-event {
        foreignObject {
            z-index: 0;

            p {
                text-shadow: -1px 0 rgba(255, 255, 255, 0.3),
                0 1px rgba(255, 255, 255, 0.3),
                1px 0 rgba(255, 255, 255, 0.3),
                0 -1px rgba(255, 255, 255, 0.3);
            }
        }

        .limited-visibility {
            span#label, span#date {
                font-size: 0px;
                opacity: 0;
            }
        }
        
    }

    .axis {
        stroke: #2c3e50;
        stroke-opacity: 0.5;
        stroke-dasharray: 5 2;
        stroke-width: 0.5;
    }

    path.signature {
        fill: none;
    }

    path.link {
        fill: none;
    }

    .is-end {
        fill: url(#end-grad);
    }

    .is-beginning {
        fill: url(#begin-grad);
    }

    .finite {
        stroke: #9e9da8;
        stroke-width: 2;
    }

    .limited-visibility {

        g {
            .finite {
                stroke: #9e9da8;
            }

            .is-beginning, .is-end {
                opacity: 0.9;
            }
        }
    }

    .individual-links {
        .not-selected {
            path {
                stroke: #acacac !important;
                opacity: 0.6;
                mix-blend-mode: luminosity;
            }
        }

        g {
            .precedes {
                stroke: rgb(120, 115, 243);
            }

            .follows {
                stroke: #727193;
            }

            .paintbox.precedes {
                stroke: rgb(223, 115, 115);
            }

            .paintbox.follows {
                stroke: rgb(167, 65, 65);
            }
        }
    }
}


.legend-container {
    background-color: #c4c4c4;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(59, 59, 59, 0.2);

    svg {

        .x-axis, .y-axis {
            text {
                -moz-osx-font-smoothing: grayscale;
                fill: #2c3e50;
                text-shadow: -1px 0 rgba(255, 255, 255, 0.3),
                0 1px rgba(255, 255, 255, 0.3),
                1px 0 rgba(255, 255, 255, 0.3),
                0 -1px rgba(255, 255, 255, 0.3);
            }
        }

        circle {
            stroke: rgb(120, 115, 243);
            fill: #e0e0e0;
        }

        .is-end {
            fill: url(#end-legend);
        }

        .is-beginning {
            fill: url(#begin-legend);
        }

        .finite {
            stroke: #9e9da8;
            stroke-width: 2;
        }
    }
}