body,
.visualization-container {
    background-color: #C4C4C4;
}

svg {
    .entity-marker {
        fill: #e0e0e0;
        stroke: rgb(120, 115, 243);
        stroke-width: 0.5;
        transition: all 0.4s;
    }

    .label-visible {
        opacity: 1;
    }

    .label-hidden {
        opacity: 0
    }

    .entity-selected {
        fill: transparent;
        stroke: white;
    }

    .disabled-on-compress {
        pointer-events: none;
    }

    .limited-visibility, .disabled-on-compress {
        circle {
        fill: #C4C4C4;
        stroke: rgb(117, 117, 117);
        stroke-dasharray: none;
        }

        .marker-halo {
            opacity: 0;
        }

        .marker-stroke {
            fill: #C4C4C4;
        }
    }

    .marker-density {

        .marker-halo {
            fill: white;
            stroke: #8482FF;
            fill-opacity: 0.5;
            filter: url(#blur) drop-shadow(0 0 0.5rem #e0e0e0);
        }

        // .marker-stroke {
        //     fill: #3f3e3e;
        // }
    }

    .blurry-2 {
        filter: url(#blur) drop-shadow(0 0 0.1rem #8482FF);
    }

    .blurry-4 {
        filter: url(#blur) drop-shadow(0 0 0.5rem #8482FF);
    }

    .blurry-6 {
        filter: url(#blur) drop-shadow(0 0 0.75rem #8482FF);
    }

    .blurry-8 {
        filter: url(#blur) drop-shadow(0 0 1rem #8482FF);
    }

    .marker-event {
        foreignObject {
            z-index: 0;

            p {
                text-shadow: -1px 0 rgba(255, 255, 255, 0.3),
                0 1px rgba(255, 255, 255, 0.3),
                1px 0 rgba(255, 255, 255, 0.3),
                0 -1px rgba(255, 255, 255, 0.3);
            }
        }

        .limited-visibility {
            opacity: 0;
        }
        
    }

    text {
        fill: black;
    }

    .axis {
        stroke: rgba(0, 0, 0, 0.5);
        stroke-dasharray: 5 2;
        stroke-width: 0.5;
    }

    path.signature {
        // stroke: red; 
        fill: none;
    }

    path.link {
        //stroke: goldenrod;
        fill: none;
    }

    .is-end {
        fill: url(#end-grad);
        transform: translate(-74%, 0)
    }

    .is-beginning {
        fill: url(#begin-grad);
    }

    .finite {
        stroke: rgba(78, 86, 94, 0.5);
        stroke-width: 2;
    }

    .limited-visibility {

        g {
            .finite {
                stroke: #acacac;
                //opacity: 0.5;
            }

            .is-beginning, .is-end {
                opacity: 0.5;
            }
        }
    }

    .individual-links {
        .not-selected {
            path {
                stroke: #acacac !important;
                opacity: 0.6;
                mix-blend-mode: luminosity;
            }
        }

        g {
            .precedes {
                stroke: rgb(120, 115, 243);
            }

            .follows {
                stroke: #727193;
            }
        }
    }
}