$default--primary: rgb(120, 115, 243);
$default--secondary: darken($default--primary, 50);
$default--tertiary: lighten($default--primary, 50);

$nuclear-anthropocene--primary: rgb(243, 115, 115);
$nuclear-anthropocene--secondary: darken($nuclear-anthropocene--primary, 50);
$nuclear-anthropocene--tertiary: lighten($nuclear-anthropocene--primary, 50);

$abgc-cycles--primary: rgb(204, 139, 43);
$abgc-cycles--secondary: darken($abgc-cycles--primary, 50);
$abgc-cycles--tertiary: lighten($abgc-cycles--primary, 50);

$biotic-change--primary: rgb(64, 175, 151);
$biotic-change--secondary: darken($biotic-change--primary, 50);
$biotic-change--tertiary: lighten($biotic-change--primary, 50);


@import 'typography';
@import 'sizes';
@import 'colors';

body {
    margin: 0;
}

svg {
    circle {
        cursor: pointer;
    }

    .marker-event {
        .label-container.right {
            transform-origin: top right;
            transform: translate(-17em, 0);
            .label {
                p {
                text-align: right;
                }
            }
        }

        .label-container.left-interval {
            position: absolute;
            transform: translate(10%, 0);
        }
    }
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}

.fade-relations-enter-active,
.fade-relations-leave-active {
    transition: opacity 1s .2s;
}

.fade-relations-enter,
.fade-relations-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}