@import 'typography';
@import 'sizes';
@import 'colors';

body {
    margin: 0;
}

svg {
    circle {
        cursor: pointer;
    }

    .marker-event {
        .label-container.right {
            transform-origin: top right;
            transform: translate(-19%, 0);
            .label {
                p {
                text-align: right;
                }
            }
        }

        .label-container.left-interval {
            position: absolute;
            //transform-origin: top right;
            transform: translate(10%, 0);
        }
    }
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}

.fade-relations-enter-active,
.fade-relations-leave-active {
    transition: opacity 1s .2s;
}

.fade-relations-enter,
.fade-relations-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}