.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border-radius: 0.5em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px 0px;
}
.storybook-button--active {
  color: white;
  background-color: #191919;
}
.storybook-button--inactive {
  color: rgb(105, 105, 105);
  background-color: #a7a7a7;
}
.storybook-button--extra-small {
  font-size: 10px;
  padding: 4px 16px;
}
.storybook-button--small {
  font-size: 12px;
  padding: 6px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 8px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 10px 24px;
}
